html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #000034;
}

.App {
  /*text-align: center;*/
  color: #EEE;
  font-size: calc(10px + 0.5vmin);
  line-height: calc(10px + 1.2vmin);
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.App-header {
  width: 80%;
  margin: 0 auto;
  margin-top: 1vh;
}

p {
  font-size: calc(10px + 0.7vmin);
  line-height: calc(10px + 1.0vmin);
  margin-bottom: 0.5rem;
}

a {
  color: #4a90e2;
  text-decoration: none;
}

a:hover, a:focus {
  color: #377ccc;
  text-decoration: underline;
  cursor: pointer;
}

#input, #output-area {
  font-size: calc(10px + 0.3vmin);
}

.line {
  height:1px;
  background-color: #4a90e2;
  margin-bottom: 15px;
}

.hidden {
  display: none;
}

.btn-primary {
    color: #fff;
    background-color: #4a90e2;
    border-color: #4a90e2;
    margin-right: 20px;
}

.btn-primary:focus {
    box-shadow: none;
    background-color: #4a90e2;
    border-color: #4a90e2;
}

.btn-outline-secondary:focus {
  box-shadow: none;
}

.form-control:focus {
  box-shadow: none;
}

/* Special margin for double text box */
.edit-short {
  max-width: 200px;
}

.btn-active {
  background-color: #6C757D;
  color: #FFF;
}

/* QR style */
.QR-container {
  width: 148px;
  height: 148px;
  padding: 10px;
  background-color: #EEE;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.QR-img {
  width: 128px;
  height: 128px;
  cursor: pointer;
}

.QR-container-2x {
  width: 276px;
  height: 276px;
  padding: 10px;
  background-color: #EEE;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.QR-img-2x {
  width: 256px;
  height: 256px;
  cursor: pointer;
}

.QR-container-4x {
  width: 532px;
  height: 532px;
  padding: 10px;
  background-color: #EEE;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.QR-img-4x {
  width: 512px;
  height: 512px;
  cursor: pointer;
}

/* Medium width button */
.btn-medium {
  width: 160px;
  margin-bottom: 0;
}

/* Token output text */
.token-text {
  border: 1px #eee solid;
  padding: 5px;
  margin-bottom: 10px;
  overflow-wrap: break-word;
}
.token-text p {
  font-size: calc(10px + 0.5vmin);
  line-height: calc(10px + 0.8vmin);
  margin-bottom: 0.5vh;
}

/* The left thing of input boxes */
.input-group-prepend, .input-group-text {
  width: 140px;
}

.command-dropdown {
  margin-top: 2vh;
  margin-bottom: 15px;
}

.command-dropdown .dropdown-toggle {
  font-size: calc(10px + 0.8vmin);
  width: 215px;
  text-align: left;
}

/* Striped dropdown menu */
.dropdown-menu > a:nth-child(odd) {
  background: #EEE;
}

/* Change color on dropdown menu hover */
.dropdown-item:hover {
  background: #4a90e2 !important;
}

/* RADIO BUTTONS */
.auth-title {
  width: 100px;
}

@media screen and (max-width: 800px) {
  h3{font-size: 1.5rem;}
  .App {
    font-size: calc(10px + 0.4vmin);
    line-height: calc(10px + 1.0vmin);
  }
  .App-header {
    width: 95%;
    margin: 0 auto;
    padding: 0 0;
  }

  .dropdown-toggle.btn-primary {
    width: 100%;
  }

  .btn-medium {
    width: 160px;
    margin-bottom: 1vh;
  }
}
