# This is a basic workflow to help you get started with Actions

name: Code Test

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events
  push:
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Check Out Repo
        uses: actions/checkout@v2

      - name: Install modules
        run: npm install --prefix "./src/server/"

      - name: Runs test
        run: npm test --prefix "./src/server/"
